/* banner CSS */
.banner-section {
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.banner-section-content p {
  opacity: 0.6;
  font-size: 20px;
  margin-top: 0;
}

.banner-section-content h1 {
  margin-bottom: 15px;
}
.banner-section-content {
  display: flex;
  flex-direction: column;
}
